html, body {
  height: 100%;
}

body {
  background-color: #cde7f0;
}

.row, .columns {
  background-color: white;
}

/*.leaflet-container {
  background-color: purple !important;
}*/

@media only screen {
  .row .columns, .row .column {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.fullWidth {
   width: 95%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

p, label, h5 {
  /*font-family: Century, Baskerville, serif;*/
  margin: 0;
  padding: 0;
}

label {
  font-size: 1.0rem;
}

i p {
  color: #707070;
  margin: 5px;
}

p {
/*  font-weight: 600;
*/}

.button:hover,
.button:focus,
.button.alert:hover,
.button.alert:focus {
  background-color: #551A8B;
}

.button.alert {
  background-color: #de2d26;
}

#learn-more {
  margin-top: 10px;
}

.legend, .info {
  padding: 6px 6px;
  line-height: 18px;
  color: #555;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

#map {
  height: 100%;
  width: 100%;
}

.graph {
  margin: 30px;
}

.dashboard text {
  font: 10px sans-serif;
  text-anchor: end;
}

/*
#b2182b
#ef8a62
#fddbc7
#d1e5f0
#67a9cf
#2166ac
*/